@keyframes rotateRWB {
  0% { background-position: 0em 0em; }
  100% { background-position: 100em 100em; }
}

$clr-primary: #3498db;
$clr-secondary: #fff;
$clr-tertiary: #e74c3c;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e5e5e5;
}

h1,h2,h3,h4,h5,h6,strong {
  color: $clr-primary;
}

strong {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1em;
  margin-left: 2em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Shrikhand', cursive;
  margin: 0;
  font-size: calc(800% + 1vmin);
  line-height: 110%;
  padding: 0 1em;
  
  .backgroundcliptext & {
    background: #e74c3c;
    background: linear-gradient(to bottom, $clr-primary 0%, $clr-primary 33%, $clr-secondary 33%,$clr-secondary 66%,$clr-tertiary 66%,$clr-tertiary 100%);
    background-repeat: repeat;
    background-size: 100% 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: rotateRWB 100s linear 1s 1000;
  }
}

.c-btn {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  border: 1px solid $clr-primary;
  border-radius: 3px;
  display: inline-block;
  padding: .5em 1em;
  line-height: 1em;
  text-decoration: none;
  color: $clr-primary;
  margin-left: 1em;
  background: #fff;
  transition: .3s all ease-in-out;
  
  &:hover {
    background: $clr-primary;
    color: #fff;
  }
}